name: Latest blog post workflow
on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * 0

permissions: read-all

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Pull in posts
        uses: gautamkrishnar/blog-post-workflow@eba05ad46e6bac02165b77289978caf47699a41f # 1.9.3
        with:
          skip_commit: true
          feed_list: "https://ruzickap.github.io/feed.xml"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          commit-message: "docs: update latest blog posts"
          title: "docs: update latest blog posts"
          body: "This PR updates the README with the latest blog posts."
          branch: "update-readme-with-blog-${{ github.sha }}"
          labels: "blog post"
          reviewers: ${{ github.repository_owner }}
          assignees: ${{ github.repository_owner }}
          sign-commits: true
