name: Latest blog post workflow
on:
  workflow_dispatch:
  schedule:
    - cron: 0 0 * * 0

permissions: read-all

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Pull in posts
        uses: gautamkrishnar/blog-post-workflow@6a6e64abd1f651445da8e59611d0ca0110979aa5 # 1.9.4
        with:
          skip_commit: true
          feed_list: "https://ruzickap.github.io/feed.xml"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          commit-message: "docs: update latest blog posts"
          title: "docs: update latest blog posts"
          body: "This PR updates the README with the latest blog posts."
          branch: "chore/update-readme-with-blog-${{ github.sha }}"
          labels: "blog post"
          reviewers: ${{ github.repository_owner }}
          assignees: ${{ github.repository_owner }}
          sign-commits: true
